<!doctype html>
<html lang = "en">
<head>
    <title>Bruh</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="content/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="header.component.css">
</head>
<body style = "overflow-wrap:break-word">
  <ngbd-collapse-navbar></ngbd-collapse-navbar>
  <div class="row">
  <div class="col-auto paddingg" style="margin-top:20px">
  <div class="row margin1">
  <div class="col col-auto">
  <img class="img-fluid" src="assets/trip_origin_24px.png" width=20 height=20>
 </div>
 <div class="col col-auto" style="margin-left:8px">
  Домой
  </div>
  </div>
  <div class="row margin1">
    <div class="col col-auto">
    <img class="img-fluid" src="assets/local_post_office_24px.png" width=20 height=20>
   </div>
   <div class="col col-auto" style="margin-left:8px">
    <a routerLink="messeges">Мессенджер</a>
    </div>
  </div>
    <div class="row margin1">
      <div class="col col-auto">
      <img class="img-fluid" src="assets/play_circle_filled_white_24px.png" width=20 height=20>
     </div>
     <div class="col col-auto" style="margin-left:8px">
      Контент
      </div>
      </div>
      <div class="row margin1">
        <div class="col col-auto">
        <img class="img-fluid" src="assets/settings_24px.png" width=20 height=20>
       </div>
       <div class="col col-auto" style="margin-left:8px">
        Настройки
        </div>
        </div>
        <div class="row margin1">
          <div class="col col-auto">
          <img class="img-fluid" src="assets/favorite_border_24px.png" width=20 height=20>
         </div>
         <div class="col col-auto" style="margin-left:8px">
          Знакомства
          </div>
          </div>
          <div class="row margin1">
            <div class="col col-auto">
            <img class="img-fluid" src="assets/bruh.png" width=25 height=25>
           </div>
           <div class="col col-auto" style="margin-left:8px">
            Bruh
            </div>
            </div>
            <div class="row margin1">
              <div class="col col-auto">
              <img class="img-fluid" src="assets/bruh.png" width=25 height=25>
             </div>
             <div class="col col-auto" style="margin-left:8px">
              Bruh
              </div>
              </div>
              <div class="row margin1">
                <div class="col col-auto">
                <img class="img-fluid" src="assets/bruh.png" width=25 height=25>
               </div>
               <div class="col col-auto" style="margin-left:8px">
                Bruh
                </div>
                </div>
                <div class="row margin1">
                  <div class="col col-auto">
                  <img class="img-fluid" src="assets/bruh.png" width=25 height=25>
                 </div>
                 <div class="col col-auto" style="margin-left:8px">
                  Bruh
                  </div>
                  </div>
                  <div class="row margin1">
                    <div class="col col-auto">
                    <img class="img-fluid" src="assets/bruh.png" width=25 height=25>
                   </div>
                   <div class="col col-auto" style="margin-left:8px">
                    Bruh
                    </div>
                    </div>
</div>
<div class="col-auto" style="margin-top:20px">
  <router-outlet></router-outlet>
</div>
  </div>
</body>
</html>